<script src="socket.io/socket.io.js"></script>
<script src="jquery.js"></script>
<script type="text/javascript">
TankGame = {};
TankGame.IP = '<%= ip %>';
TankGame.PORT = <%= port %>;
</script>
<script src="client.js" type="text/javascript"></script>

<div id="controls">
  <input type="text" id="username" value="username" />
  <button id="connect">Connect</button>
</div>
<canvas id="game_canvas">
</canvas>