<html>
  <head>
    <title>Tank Game</title>
    <style type="text/css">
    body {
      background-color: #E0EFD7;
      font-family: arial, verdana;
      margin: 50px;
    }
    
    canvas {
      background-color: #FFF;
      border: 1px solid #000;
    }
    
    h1 {
      font-weight: normal;
      font-size: 20px;
    }
    </style>
  </head>
  <body>
  <h1>Tank Game</h1>
  <%- body %>
  </body>
</html>